@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.details {
	& {
		border: 2px solid blue;
		padding-block: 2rem;
		background: yellow;
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	&__heading {
		color: green;
		margin-bottom: 2rem;
	}
}
