@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.bulletCheck {
	& {
		align-items: center;
		display: flex;
		font-size: var(--text-size-md);
		letter-spacing: var(--letter-spacing-md);
		line-height: var(--line-height-md);

		@media (min-width: vars.$tablet) {
			letter-spacing: var(--letter-spacing-lg);
		}

		@media (min-width: vars.$desktop) {
			font-size: var(--text-size-xl);
		}
	}

	&__check {
		align-items: center;
		color: var(--accent-color);
		display: flex;
		font-size: 1.125rem;
		justify-content: center;
		padding-inline-end: 0.75rem;

		@media (min-width: vars.$smallTablet) {
			padding-inline-end: 1rem;
		}
	}

	&__heading {
		display: block;
		font-size: var(--text-size-lg);
		font-weight: bold;
		white-space: nowrap;

		@media (min-width: vars.$tablet) {
			letter-spacing: var(--letter-spacing-xl);
		}

		@media (min-width: vars.$desktop) {
			font-size: var(--text-size-xl);
		}
	}

	&__blurb {
		opacity: 1;
	}
}
