@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.isLoading_10 {
	& {
		align-items: center;
		color: var(--fg);
		display: flex;
		height: 10rem;
		justify-content: center;
		left: 50%;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 10rem;
		z-index: 10;
	}
}

// *** shifting cubes starts
svg {
	transform: rotate(45deg);
}

.gradient {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	fill: url("#gradient-fill");
}
.square {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

.s1 {
	animation-name: slide-1;
}

.s2 {
	animation-name: slide-2;
}

.s3 {
	animation-name: slide-3;
}

.s4 {
	animation-name: slide-4;
}

.s5 {
	animation-name: slide-5;
}

.s6 {
	animation-name: slide-6;
}

.s7 {
	animation-name: slide-7;
}

@keyframes slide-1 {
	37.5% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(100px);
	}
	100% {
		transform: translateX(100px);
	}
}

@keyframes slide-2 {
	25% {
		transform: translateX(0px);
	}
	37.5% {
		transform: translateX(100px);
	}
	100% {
		transform: translateX(100px);
	}
}

@keyframes slide-3 {
	12.5% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(100px);
	}
	100% {
		transform: translateY(100px);
	}
}

@keyframes slide-4 {
	50% {
		transform: translateY(0px);
	}
	62.5% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(-100px);
	}
}

@keyframes slide-5 {
	12.5% {
		transform: translate(-100px, 0px);
	}
	87.5% {
		transform: translate(-100px, 0px);
	}
	100% {
		transform: translate(-100px, 100px);
	}
}

@keyframes slide-6 {
	62.5% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(-100px);
	}
}

@keyframes slide-7 {
	75% {
		transform: translateX(0px);
	}
	87.5% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(-100px);
	}
}

.container {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.footer {
	margin-top: 1rem;
}
