@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.welcomeEmail {
	& {
		border: 2px solid red;
		min-height: 80vh;
		opacity: 1;
		padding-block: 2rem;
		width: 100%;
	}

	&__inner {
		@include mx.sectionLayout;
		& {
			min-width: 90vw;
		}
	}

	&__heading {
		@include mx.sectionHeadingWithAccent;
		& {
			margin-bottom: 2rem;
		}
	}
}
