@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.labelledCheckbox {
	& {
		align-items: center;
		display: flex;
		width: fit-content;
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__text {
		font-size: var(--font-size-sm);
		letter-spacing: var(--letter-spacing-md);
		white-space: nowrap;

		@media (min-width: vars.$smallTablet) {
			font-size: var(--font-size-md);
		}
	}

	&__text-link {
		white-space: nowrap;
	}

	&__input {
		@include mx.checkboxInput;
	}

	&__text-link {
		@include mx.textLink;
	}
}
