@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.header {
	& {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		// z-index: 2;
		left: 50%; // anchor to center of viewport
		transform: translateX(-50%);
		width: 100%;
		max-width: vars.$ultraWide;
	}

	// *** overlay for Header--colorful
	&__overlay {
		background-size: cover;
		// background: linear-gradient(
		// 	to top,
		// 	rgba(0, 0, 0, 0.5) 1%,
		// 	// darkest at the bottom
		// 	rgba(0, 0, 0, 0.4) 12%,
		// 	// mid fade
		// 	rgba(255, 255, 255, 0.2) 75%
		// );

		// background: linear-gradient(
		// 	to top,
		// 	rgba(0, 0, 0, 0.45) 0%,
		// 	// dark bottom
		// 	rgba(0, 0, 0, 0.35) 16%,
		// 	// mid fade
		// 	rgba(0, 0, 0, 0.2) 65% // softer but still dark top
		// );

		background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.1) 0%,
			// subtle at bottom (keep busy details visible)
			rgba(0, 0, 0, 0.125) 35%,
			// gentle fade upward
			rgba(0, 0, 0, 0.225) 75% // stronger dark top for text readability
		);

		inset: 0;
		position: absolute;
		z-index: 0;
		opacity: 75%;
		opacity: 80%;
		opacity: 50%;
	}

	// *** inner for Header--web
	&__inner {
		align-items: center;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;
		// header_1 settings
		background: url("../../assets/images/header_1a.jpg");
		background: url("../../assets/images/header_1b.jpg");
		background: url("../../assets/images/header_1c.jpg");
		background: url("../../assets/images/header_1d.jpg");
		background: url("../../assets/images/header_1e.jpg");
		background: url("../../assets/images/header_1f.jpg");
		background: url("../../assets/images/header_1g.jpg");
		background: url("../../assets/images/header_1h.jpg");
		background: url("../../assets/images/header_1i.jpg");
		background: url("../../assets/images/header_1j.jpg");
		background: url("../../assets/images/header_1j.jpg");
		background: url("../../assets/images/header_1k.jpg");
		background: url("../../assets/images/header_1l.jpg");
		background: url("../../assets/images/header_1m.jpg");
		background: url("../../assets/images/header_1n.jpg");
		background: url("../../assets/images/header_1o.jpg");
		background: url("../../assets/images/header_1p.jpg");
		// blueish
		background: url("../../assets/images/header_1q.jpg");
		// yellowish
		background: url("../../assets/images/header_1r.jpg");
		//
		background: url("../../assets/images/header_1s.jpg");
		background: url("../../assets/images/header_1t.jpg");
		background: url("../../assets/images/header_1u.jpg");
		background: url("../../assets/images/header_1v.jpg");
		background-position-x: center;
		background-position-y: bottom;

		// text columns
		@media (min-width: vars.$tablet) {
			justify-content: flex-start;
			padding-inline: 10%;
		}
	}

	&__accentBar {
		@include mx.accentBarLeft;
		box-shadow: var(--header-overlay-shadow);
	}

	&__text {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		line-height: 1.5;
		margin-top: 2rem;
		position: relative;
		text-align: center;
		z-index: 1;

		@media (min-width: vars.$largeTablet) {
			align-items: start;
			text-align: start;
			width: 50%;
		}

		@media (min-width: vars.$largeTablet) {
			padding-inline: 5rem;
		}
	}

	&__heading {
		font-size: 1.75rem;
		text-wrap: nowrap;
		font-family: var(--heading-font);
		letter-spacing: var(--letter-spacing-2xl);
		text-shadow: var(--header-overlay-shadow);

		@media (min-width: vars.$smallTablet) {
			font-size: 2rem;
		}
	}

	&__subheading {
		font-family: inherit;
		font-size: 1.75rem;
		margin-bottom: 1.25rem;
		white-space: nowrap;
		letter-spacing: var(--letter-spacing-2xl);
		text-shadow: var(--header-overlay-shadow);

		@media (min-width: vars.$smallTablet) {
			font-size: 2rem;
		}
	}

	&__solution {
		color: green;
		font-family: var(--heading-font);
		font-size: inherit;
		letter-spacing: var(--letter-spacing-2xl);
	}

	&__lead {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: var(--line-height-lg);
		margin-bottom: 2.5rem;
		max-width: min(80%, 20rem);

		@media (min-width: vars.$smallTablet) {
			max-width: 25rem;
		}

		@media (min-width: vars.$tablet) {
			max-width: 80%;
		}
	}

	&__button {
		margin-inline: auto;
		box-shadow: var(--header-overlay-shadow);
		// width: 8rem;
		@include mx.rounded-button;
	}
}
