@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.showHidePassword {
	& {
		background: none;
		height: var(--inputHeight);
		outline: none;
		position: absolute;
		right: 0.5rem;
		top: 0;
		display: flex;
	}

	&__button {
		@include mx.button;
	}

	&__icon {
		border: none;
		cursor: pointer;
		fill: var(--text-color);
		margin-top: 0.35rem;
	}
}
