@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.sideNav {
	& {
		// background: var(--background-color);
		background: yellow;
		bottom: 0;
		// box-shadow: var(--box-shadow);
		height: 100vh;
		left: 200vw;
		position: fixed;
		top: 0;
		transition: all 0.5s ease-in-out;
		width: 80vw;
		z-index: 3;

		@media (min-width: vars.$minSideNavWidth) {
			width: 50vw;
		}

		&.show {
			left: 20vw;
			transition: all 0.5s ease-out;

			@media (min-width: 525px) {
				left: 50vw;
			}
		}
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: scroll;
		padding-bottom: 6rem;
		position: relative;
	}

	&__clickOffDiv {
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 3;
	}

	&__close-button {
		cursor: pointer;
		height: 1.85rem;
		padding-top: 0.8rem;
		position: fixed;
		top: 1.5rem;
		width: 1.85rem;
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-top: 8rem;
	}

	&__link {
		color: var(--text-color);
		@include mx.navLink;

		&.active {
			&:after {
				bottom: -2rem;
				@include mx.afterAccent;
			}
		}
	}

	&__close-icon {
		background-color: var(--text-color);
		background-color: red;
		border-radius: 2px;
		height: 2.5px;
		position: absolute;
		transform-origin: center;
		width: 100%;
	}

	&__close-icon:first-child {
		transform: rotate(45deg);
	}

	&__close-icon:last-child {
		transform: rotate(-45deg);
	}

	&__logout {
		margin-inline: auto;
	}

	&__colorModeToggler {
		align-items: center;
		display: flex;
		justify-content: center;
		left: 50%;
		margin-inline: auto;
		margin-top: auto;
	}
}
