@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.loginForm {
	& {
		@include mx.formFullWidth;
		& {
			width: 100%;
			border: 2px solid red;
		}
	}

	&__inner {
		@include mx.formFullWidthInner;
	}

	&__heading {
		@include mx.formHeading;

		&::after {
			@include mx.afterAccent;
		}
	}

	&__form {
		@include mx.form;
	}

	&__field {
		position: relative;
		margin-bottom: 1rem;

		&--password {
			margin-bottom: 0;
			position: relative;
		}
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__input {
		@include mx.formFullWidthInput;

		&:focus {
			box-shadow: var(--box-shadow-input);
			outline: none;
		}

		&::placeholder {
			color: var(--text-color);
			font-size: var(--font-size-fine);
		}
	}

	&__button {
		@include mx.button;
	}

	&__error {
		@include mx.formErrorMessage;
	}

	&__submit {
		display: flex;
		margin-inline: auto;
		margin-top: auto;
	}
}
