@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.home {
	& {
		@include mx.page;
		& {
			margin-top: 100vh;
		}
	}

	&__main {
		background: var(--neutral-bg-1);
		position: relative;
	}

	&__content {
		@include mx.pageContent;
	}
}
