@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.subscribe {
	& {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		max-width: 45rem;
		position: relative;
	}

	&__heading {
		@include mx.sectionHeading;
	}

	&__lead {
		@include mx.sectionLead;
		& {
			line-height: var(--line-height-lg);
			margin-bottom: 2rem;
		}

		@media (min-width: vars.$tablet) {
			text-align: center;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		min-width: 100%;
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__input-wrapper {
		position: relative;
		width: 100%;
	}

	&__isLoading {
		@include mx.isLoadingContainer;
		& {
			margin-top: -0.75rem;
		}

		@media (min-width: vars.$mediumTablet) {
			transform: translate(calc(-50% + 2.5rem), calc(-50% + 0.75rem));
		}
	}

	&__input {
		@include mx.input;
		& {
			width: 100%;
		}
	}

	&__form-field {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		width: 100%;

		@media (min-width: vars.$mediumTablet) {
			flex-direction: row;
			height: 5rem;
			padding-inline: 2rem;
		}
	}

	&__button-container {
		display: flex;
		padding-inline: 2rem;
		width: 100%;

		@media (min-width: vars.$mediumTablet) {
			padding-inline: 0;
			width: auto;
		}
	}

	&__terms {
		margin-bottom: 2rem;
	}

	&__terms-checkbox {
		margin-bottom: 2rem;
		max-width: 20rem;
		margin-inline: auto;
	}

	&__submit {
		@include mx.rounded-button;
		& {
			margin-inline: auto;
			margin-top: 2rem;
			max-width: 20rem;
			width: 100%;
		}

		&.disabled {
			@include mx.diabledButton;
		}

		@media (min-width: vars.$mediumTablet) {
			@include mx.button;
			& {
				border-radius: 0;
				height: 3rem;
				margin-block: 0;
				max-width: 6rem;
				padding-block: 0;
				width: 6rem;

				@media (min-width: vars.$tablet) {
					max-width: 8rem;
					width: 8rem;
				}
			}
		}
	}
}
