@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.subscribe {
	& {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-block: 4rem;
		padding-inline: 2rem;
	}

	&__inner {
		display: flex;
		flex-direction: column;
	}

	&__heading {
		@include mx.sectionHeading;
	}

	&__lead {
		font-size: var(--text-size-md);
		letter-spacing: var(--letter-spacing-lg);
		line-height: var(--line-height-md);
		margin-bottom: 1rem;
		max-width: 45rem;

		@media (min-width: vars.$tablet) {
			text-align: center;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		min-width: 100%;
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__input {
		@include mx.input;
		& {
			outline: 2px solid blue;
			width: 100%;
		}
	}

	&__form-field {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		width: 100%;

		@media (min-width: vars.$mediumTablet) {
			flex-direction: row;
			height: 5rem;
			padding-inline: 2rem;
		}
	}

	&__button-container {
		width: 100%;

		@media (min-width: vars.$tablet) {
			padding-inline: 2rem;
		}

		@media (min-width: vars.$mediumTablet) {
			display: flex;
			padding-inline: 0;
			width: auto;
		}
	}

	&__submit {
		border: 2px dashed #333;
		margin-top: 1rem;
		width: 100%;
		@include mx.rounded-button;

		@media (min-width: vars.$mediumTablet) {
			@include mx.button;
			& {
				border-radius: 0;
				height: 3rem;
				margin-block: 0;
				max-width: 6rem;
				padding-block: 0;
				width: 6rem;

				@media (min-width: vars.$tablet) {
					max-width: 8rem;
					width: 8rem;
				}
			}
		}
	}
}
