@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfoEmail {
	& {
		@include mx.formFullWidth;
		& {
			height: 70vh;
			max-height: 70vh;
			padding-inline: 2rem;
		}
	}

	&__inner {
		@include mx.formFullWidthInner;
		& {
			@media (min-width: vars.$smallTablet) {
				padding-inline: 0.5rem;
			}

			@media (min-width: vars.$tablet) {
				padding-inline: 2rem;
			}
		}
	}

	&__heading {
		@include mx.formHeading;
		& {
			margin-bottom: 1rem;
		}

		&::after {
			@include mx.afterAccent;
		}
	}

	&__admin-explainer {
		@include mx.adminExplainer;
		& {
			margin-bottom: 1rem;
		}
	}

	&__form {
		@include mx.form;
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__text {
		@include mx.adminTextBox;
		& {
			min-width: 11rem;
		}
	}

	&__subject {
		align-items: center;
		border-bottom: 1px solid var(--text-color);
		color: var(--text-color);
		display: flex;
		height: 2.5rem;
		padding-inline-start: 0.5rem;

		&.editable {
			@include mx.testInput;

			&.invalid {
				border: 1px solid red;
			}
		}
	}

	&__greeting {
		align-items: center;
		border-bottom: 1px solid var(--text-color);
		color: var(--text-color);
		display: flex;
		height: 2.5rem;
		padding-inline-start: 0.5rem;

		&.editable {
			@include mx.testInput;

			&.invalid {
				border: 1px solid red;
			}
		}
	}

	&__body-content {
		color: var(--text-color);
		flex: 1;
		overflow-y: scroll;
		line-height: var(--line-height-lg);
		padding-inline-start: 0.5rem;
		text-align: start;
		border-bottom: 1px solid var(--text-color);
		padding-top: 0.75rem;

		&.editable {
			@include mx.testInput;
			& {
				height: 100%;
				padding-inline-end: none;
				margin-bottom: 1rem;

				&.invalid {
					border: 1px solid red;
				}
			}
		}
	}

	&__paragraph {
		margin-bottom: 1rem;
	}

	&__companyInfo {
		color: var(--text-color);
		font-size: var(--text-size-xs);
		opacity: 0.9;
		// padding-bottom: 0.125rem;
		// padding-bottom: 0.25rem;
		padding-top: none !important;
		padding-top: 0.5rem;
		text-align: center;

		// @media (min-width: vars.$tablet) {
		// 	font-size: var(--text-size-sm);
		// 	padding-bottom: 0.5rem;
		// 	padding-top: 0.75rem;
		// }

		// @media (min-width: vars.$largeTablet) {
		// 	font-size: var(--text-size-md);
		// 	padding-bottom: 0.75rem;
		// 	padding-top: 0.75rem;
		// }
	}

	// &__companyName,
	// &__copyRight {
	// }

	&__button-container {
		@include mx.buttonContainer;
		& {
			gap: 0.5rem;
			padding-top: 2rem;

			@media (min-width: vars.$smallPhone) {
				padding-top: 2rem;
				gap: 1rem;
			}
		}
	}

	&__button {
		@include mx.button;
		& {
			min-width: 5rem;
			max-width: 5rem;

			@media (min-width: vars.$smallPhone) {
				min-width: 6rem;
			}
		}
	}
}
