@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfoEmail {
	& {
		@include mx.formFullWidth;
		& {
			height: 70vh;
			max-height: 70vh;
			padding-inline: 2rem;
		}
	}

	&__inner {
		@include mx.formFullWidthInner;
		& {
			width: 100%;

			@media (min-width: vars.$smallTablet) {
				padding-inline: 0.5rem;
			}
		}
	}

	&__heading {
		@include mx.formHeading;
		& {
			margin-bottom: 1rem;
		}

		&::after {
			@include mx.afterAccent;
		}
	}

	&__admin-explainer {
		@include mx.adminExplainer;
		& {
			margin-bottom: 1rem;
		}
	}

	&__form {
		@include mx.form;
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__text {
		@include mx.adminTextBox;
		& {
			margin-bottom: 0.5rem;
		}
		&.editable {
			margin-bottom: 1rem;
		}
	}

	&__subject {
		@include mx.input;
		& {
			align-items: center;
			border: none;
			border-bottom: 1px solid var(--text-color);
			border-radius: 0;
			display: flex;
			font-size: var(--font-size-sm);
			height: auto;
			min-height: 3rem;
		}

		&.editable {
			cursor: text;
		}
	}

	&__greeting {
		@include mx.input;
		& {
			align-items: center;
			border: none;
			border-bottom: 1px solid var(--text-color);
			border-radius: 0;
			display: flex;
			font-size: var(--font-size-sm);
			min-height: 2.5rem;
		}

		&.editable {
			cursor: text;
		}
	}

	&__body-content {
		@include mx.input;
		& {
			border: none;
			border-bottom: 1px solid var(--text-color);
			border-radius: 0;
			flex: 1;
			font-size: var(--font-size-sm);
			height: 100%;
			line-height: var(--line-height-base);
			overflow-y: auto;
			word-break: break-word;
		}

		&.editable {
			& {
				cursor: text;
				line-height: var(--line-height-lg);
				padding-inline-end: none;
			}
		}
	}

	&__paragraph {
		line-height: var(--line-height-lg);
		margin: 0 0 1lh 0;
		white-space: pre-wrap;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		@include mx.textLink;
	}

	&__companyInfo {
		color: var(--text-color);
		display: flex;
		flex-direction: column;
		font-size: var(--font-size-xs);
		line-height: var(--line-height-md);
		height: 3rem;
		justify-content: center;
		opacity: 0.9;
		text-align: center;
	}

	&__link-button {
		@include mx.textLink;
		& {
			margin-inline: auto;
		}
	}

	&__button-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding-top: 1rem;

		&.editable {
			@include mx.buttonContainer;
			& {
				flex-direction: row;
				gap: 0.5rem;
				padding-top: 1.5rem;

				@media (min-width: vars.$smallPhone) {
					gap: 1rem;
				}
			}
		}
	}

	&__button {
		@include mx.button;
		& {
			max-width: 5rem;
			min-width: 5rem;

			@media (min-width: vars.$smallPhone) {
				min-width: 6rem;
			}

			@media (min-width: vars.$smallTablet) {
				min-width: 7rem;
			}
		}
	}
}
