@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.isLoading_4 {
	& {
		align-items: center;
		color: var(--fg);
		display: flex;
		height: 10rem;
		justify-content: center;
		left: 50%;
		margin-top: -0.75rem;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 10rem;
		z-index: 10;
	}
}

// *** 4 square square pulse thing
.container {
	animation: animate 1s linear infinite;
	height: 100px;
	position: relative;
	transform: rotate(45deg);
	width: 100px;
}

.sub {
	animation: rotate 1s linear infinite;
	height: 50px;
	position: absolute;
	width: 50px;
}

.sub:nth-child(1) {
	background-color: #fceba7;
	left: 0;
	top: 0;
}

.sub:nth-child(2) {
	background-color: #55ddb9;
	right: 0;
	top: 0;
}

.sub:nth-child(3) {
	background-color: #fd6c64;
	bottom: 0;
	left: 0;
}

.sub:nth-child(4) {
	background-color: #1f78b0;
	bottom: 0;
	right: 0;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	10% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(90deg);
	}

	90% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes animate {
	0% {
		width: 100px;
		height: 100px;
	}

	10% {
		width: 100px;
		height: 100px;
	}

	50% {
		width: 150px;
		height: 150px;
	}

	90% {
		width: 100px;
		height: 100px;
	}

	100% {
		width: 100px;
		height: 100px;
	}
}
