@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

// need to make each solution and inner the same height

.solution {
	& {
		display: stretch;
		margin-bottom: 2rem;
		width: 100%;

		@media (min-width: vars.$mediumTablet) {
			margin-bottom: 1rem;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__image {
		@include mx.cardImg;
	}

	&__title {
		@include mx.cardTitleHeading;

		&--short {
			display: block;

			@media (min-width: vars.$smallPhone) {
				display: none;
			}
		}

		&--full {
			display: none;

			@media (min-width: vars.$smallPhone) {
				display: block;
			}
		}
	}

	&__text {
		@include mx.cardTextBlurb;
	}

	&__tag {
		background: var(--accent-color);
		color: var(--button-text-color);
		font-size: var(--text-size-sm);
		font-weight: 700;
		padding: var(--tag-padding);
		border-radius: 4px;
		letter-spacing: var(--letter-spacing-xl);
		margin-top: auto;
		width: fit-content;

		@media (min-width: vars.$mediumTablet) {
			font-size: var(--text-size-md);
		}
	}
}
