@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

// need to make each solution and inner the same height

.solution {
	& {
		display: stretch;
		margin-bottom: 1rem;
		width: 100%;

		@media (min-width: vars.$mediumTablet) {
			width: 50%;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-block: 1rem;

		@media (min-width: vars.$tablet) {
			padding-inline: 1rem;
		}

		@media (min-width: vars.$desktop) {
			padding-block: 2rem;
		}
	}

	&__image {
		@include mx.cardImg;
	}

	&__title {
		color: #fff;
		font-size: var(--text-size-md);
		font-weight: 600;
		letter-spacing: var(--letter-spacing-md);
		line-height: var(--line-height-lg);
		margin-block: 1rem;

		@media (min-width: vars.$tablet) {
			font-size: var(--text-size-lg);
		}

		@media (min-width: vars.$desktop) {
			font-size: var(--text-size-xl);
		}
	}

	&__text {
		font-size: var(--text-size-md);
		letter-spacing: var(--letter-spacing-md);
		line-height: var(--line-height-md);
		margin-bottom: 2rem;

		@media (min-width: vars.$tablet) {
			font-size: var(--text-size-lg);
		}

		@media (min-width: vars.$desktop) {
			font-size: var(--text-size-xl);
		}
	}

	&__tag {
		background: var(--accent-color);
		color: var(--button-text-color);
		font-size: var(--text-size-sm);
		font-weight: 700;
		padding: var(--tag-padding);
		border-radius: 4px;
		letter-spacing: var(--letter-spacing-xl);
		margin-top: auto;
		width: fit-content;

		@media (min-width: vars.$mediumTablet) {
			font-size: var(--text-size-md);
		}
	}
}
