@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.solutions {
	& {
		padding-bottom: 2rem;
		padding-top: vars.$navHeight;
	}

	&__inner {
		@include mx.sectionLayout;
	}

	&__heading {
		@include mx.sectionHeadingWithAccent;
		& {
			margin-bottom: 2rem;
		}
	}

	&__lead {
		@include mx.sectionLead;
	}

	&__lead-stem {
		display: none;

		@media (min-width: vars.$tablet) {
			display: contents;
		}
	}

	&__container {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;

		@media (min-width: vars.$mediumTablet) {
			flex-direction: row;
			padding-inline: 1rem;
		}
	}
}
