@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.header {
	& {
		height: 100vh;
		max-width: vars.$ultraWide;
	}

	// *** overlay for Header
	&__overlay {
		background: linear-gradient(
			to center,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(0, 0, 0, 0.3) 60%,
			rgba(0, 0, 0, 0.15) 100%
		);
		background-size: cover;
		inset: 0;
		opacity: 25%;
		position: absolute;
		z-index: 0;
	}

	// header with bg pic
	&__inner {
		align-items: center;
		// background: url("../../assets/images/header.jpg");
		background: url("../../assets/images/header_4.jpg");
		background-position-y: center;
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;
		overflow: hidden;

		@media (min-width: vars.$tablet) and (min-height: 500px) {
			background-position-x: calc(100% + 1200px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 550px) {
			background-position-x: calc(100% + 1350px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 600px) {
			background-position-x: calc(100% + 1450px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 650px) {
			background-position-x: calc(100% + 1550px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 700px) {
			background-position-x: calc(100% + 1700px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 750px) {
			background-position-x: calc(100% + 1800px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 800px) {
			background-position-x: calc(100% + 1950px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 850px) {
			background-position-x: calc(100% + 2050px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 900px) {
			background-position-x: calc(100% + 2200px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 950px) {
			background-position-x: calc(100% + 2300px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1000px) {
			background-position-x: calc(100% + 2450px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1050px) {
			background-position-x: calc(100% + 2600px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1100px) {
			background-position-x: calc(100% + 2700px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1150px) {
			background-position-x: calc(100% + 2850px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1200px) {
			background-position-x: calc(100% + 3000px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1250px) {
			background-position-x: calc(100% + 3100px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1300px) {
			background-position-x: calc(100% + 3200px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1350px) {
			background-position-x: calc(100% + 3300px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1400px) {
			background-position-x: calc(100% + 3500px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1450px) {
			background-position-x: calc(100% + 3600px); // for larger screens
		}

		@media (min-width: vars.$tablet) and (min-height: 1500px) {
			background-position-x: calc(100% + 3750px); // for larger screens
		}
	}

	&__accentBar {
		@include mx.accentBarLeft;
	}

	&__text {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		line-height: 1.5;
		padding-inline-end: 2rem;
		padding-inline-start: 3rem;
		margin-inline: auto;
		// margin-top: -2rem;
		position: relative;
		z-index: 1;

		@media (min-width: vars.$smallTablet) {
			color: blue;
			width: 80%;
		}

		@media (min-width: vars.$smallTablet) {
			padding-inline: 2rem;
		}

		@media (min-width: vars.$tablet) {
			// padding-inline: 5rem;
			margin-inline: 0;
			// width: 50%;
		}

		@media (min-width: vars.$largeTablet) {
			padding-inline: 5rem;
		}
	}

	&__heading {
		font-size: 1.75rem;

		@media (min-width: vars.$smallTablet) {
			font-size: 2rem;
		}
	}

	&__subheading {
		font-size: 1.75rem;
		margin-bottom: 1rem;
		white-space: nowrap;

		@media (min-width: vars.$smallTablet) {
			font-size: 2rem;
		}
	}

	&__solution {
		color: green;
		font-size: inherit;
	}

	&__lead {
		font-size: 1.25rem;
		margin-bottom: 1rem;
		// font-family: var(--body-font);

		@media (min-width: vars.$tablet) {
			max-width: 80%;
		}
	}

	&__button {
		width: 8rem;
	}
}
