@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.header {
	& {
		background: yellow;
		height: 100vh;
		max-width: vars.$ultraWide;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: yellow;
		opacity: 10%;
		z-index: 0; // stays below text
	}

	&__inner {
		align-items: center;
		background: url("../../assets/images/header-background.jpg");
		background-position: 75% center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		display: flex;
		position: relative;

		@media (min-width: vars.$smallTablet) {
			background-position: 80% center;
		}

		@media (min-width: vars.$tablet) {
			background-position: 75% center;
		}

		@media (min-width: vars.$largeTablet) {
			background-position: center;
		}
	}

	&__accentBar {
		@include mx.accentBarLeft;
	}

	&__text {
		// border: 2px solid green;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		line-height: 1.5;
		padding-inline-end: 2rem;
		padding-inline-start: 3rem;
		margin-inline: auto;
		// border: 2px dotted #333;
		position: relative;
		z-index: 1;

		@media (min-width: vars.$smallTablet) {
			color: blue;
			width: 80%;
		}

		@media (min-width: vars.$smallTablet) {
			padding-inline: 2rem;
		}

		@media (min-width: vars.$tablet) {
			padding-inline: 5rem;
			margin-inline: 0;
			width: 50%;
		}

		@media (min-width: vars.$largeTablet) {
			padding-inline: 5rem;
		}
	}

	&__heading {
		font-size: 2rem;
	}

	&__subheading {
		font-size: 2rem;
		margin-bottom: 1rem;
		// white-space: nowrap;
	}

	&__solution {
		color: green;
		font-size: inherit;
	}

	&__lead {
		font-size: 1.25rem;
		margin-bottom: 1rem;

		@media (min-width: vars.$tablet) {
			max-width: 80%;
		}
	}

	&__button {
		width: 8rem;
	}
}
