@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.partners {
	& {
		// border: 2px dashed red;
		color: red;
		// height: 14rem;
		overflow-x: hidden;
	}

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-block: 2rem;
	}

	&__heading {
		margin-bottom: 2rem;
	}

	&__partnerItem {
		background: purple;
		border-radius: 0.5rem;
		box-shadow: 0 0.5rem 1rem -0.25rem #333;
		color: #fff;
		display: flex;
		justify-content: center;
		max-width: 7.5rem;
		min-width: 7.5rem;
		padding-block: 1rem;
	}
}
