@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfoForm {
	&__section {
		padding-bottom: 4rem;
		padding-inline: 1rem;
		padding-top: 1.5rem;
		width: 100%;

		@media (min-width: vars.$tablet) {
			padding-block: 4rem;
			padding-inline: 2rem;
		}

		@media (min-width: vars.$mediumTablet) {
		}
	}

	&__form {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		@media (min-width: vars.$mediumTablet) {
			padding-inline: 1rem;
		}
	}

	&__field {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
		margin-inline: auto;
		max-width: 28rem;
		width: 100%;
	}

	&__input {
		// need a bg color for the inputs: will remove border after
		@include mx.input;
		border: 2px solid blue;

		&.invalid {
			// need invalid border/outline styling for invalid state: will remove yellow bg later
			background: yellow;
		}

		&--terms {
			height: 1.125rem;
			margin-inline-end: 0.5rem;
			position: relative;
			width: 1.125rem;

			&:checked::after {
				border-bottom: 2px solid #000;
				border-right: 2px solid #000;
				content: "";
				height: 1rem;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				width: 0.5rem;
			}
		}
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__privacy {
		color: var(--accent-color);
		text-decoration: underline;
	}

	&__submit {
		display: flex;
		margin-inline: auto;
		margin-top: auto;
		width: 100%;
	}

	&__submitButton {
		margin-inline: auto;
		max-width: 25rem;
		width: 100%;
		@include mx.rounded-button;

		&.disabled {
			// need disabled stylings
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
