@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfoForm {
	&__section {
		height: 100%;
		padding-inline: 1rem;
		padding-top: 1.5rem;
		position: relative;
		width: 100%;

		@media (min-width: vars.$tablet) {
			padding-block: 0;
			padding-inline: 2rem;
		}
	}

	&__form {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: 100%;
		position: relative;
		width: 100%;
		z-index: 1;

		@media (min-width: vars.$mediumTablet) {
			padding-block: 2rem;
			padding-inline: 1rem;
		}
	}

	&__fields {
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	&__isLoading {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 0.5s ease;
		z-index: 0;

		&.show {
			opacity: 1;
			transition: opacity 0.75s ease;
			z-index: 1;
		}
	}

	&__field {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
		margin-inline: auto;
		max-width: 32rem;
		width: 100%;
		z-index: 10;
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__input {
		// need a bg color for the inputs: will remove border after
		@include mx.input;
		& {
			border: 2px solid blue;
		}
	}

	&__checkboxes {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-inline: auto;
		max-width: 32rem;
		width: 100%;
	}

	&__checkboxes-inner {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-inline: auto;
	}

	&__submit {
		display: flex;
		margin-inline: auto;
		margin-top: 2rem;
		width: 100%;
		z-index: 1;
	}

	&__submitButton {
		@include mx.rounded-button;
		& {
			margin-inline: auto;
			max-width: 24rem;
			width: 100%;
		}

		&.disabled {
			// need disabled stylings
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
