@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfoForm {
	&__section {
		// height for testing
		border: 2px solid red;
		min-height: 100vh;
		padding-block: 4rem;
		padding-inline: 1rem;
		width: 100%;
	}

	&__form {
		align-items: center;
		// border: 2px solid green;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	&__field {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
		margin-inline: auto;
		width: 100%;

		// &--phone {

		// }
	}

	// ***
	&__input {
		@include mx.input;
		border: 2px solid blue;
		// -webkit-appearance: none;
		// appearance: none;
		// background: #fff;

		&.invalid {
			background: yellow;
		}

		&--terms {
			height: 1.125rem;
			position: relative;
			margin-inline-end: 0.5rem;
			width: 1.125rem;

			&:checked::after {
				border-bottom: 2px solid #000;
				border-right: 2px solid #000;
				content: "";
				height: 1rem;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				width: 0.5rem;
			}
		}
	}

	&__label {
		@include mx.hiddenLabel;
	}

	&__privacy {
		color: var(--accent-color);
		text-decoration: underline;
	}

	&__submit {
		display: flex;
		margin-inline: auto;
		margin-top: auto;
		// border: 2px solid red;
		width: 100%;
	}

	&__submitButton {
		max-width: 25rem;
		margin-inline: auto;
		width: 100%;
		@include mx.rounded-button;

		&.disabled {
			color: red !important;
		}
	}
}
