@use "./_variables" as vars;
@use "../assets/fonts.scss";

// layout
@mixin appLayout {
	align-items: center;
	box-shadow: var(--box-shadow);
	color: var(--text-color);
	display: flex;
	font-family: var(--body-font);
	flex-direction: column;
	width: 100%;
}

@mixin appInner {
	align-items: center;
	box-shadow: var(--app-box-shadow);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	overflow-x: hidden;
	max-width: vars.$ultraWide;
	min-height: calc(100vh - vars.$footerHeightMobile);
	width: 100%;

	@media (min-width: vars.$tablet) {
		min-height: calc(100vh - vars.$footerHeight);
	}
}

@mixin isLoadingContainer {
	display: flex;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: var(--isLoading-start-transition);
	transition-timing-function: ease-out;

	&.show {
		opacity: 1;
		transition: var(--isLoading-end-transition);
		transition-timing-function: ease-in;
		z-index: 5;
	}

	&.hide {
		display: none;
	}
}

@mixin page {
	max-width: 100%;
	min-height: calc(100vh - (vars.$footerHeightMobile + 1px));
	width: 100%;

	@media (min-width: vars.$tablet) {
		min-height: calc(100vh - vars.$footerHeight + 1px);
	}

	@media (min-width: vars.$ultraWide) {
		max-width: vars.$ultraWide;
	}
}

@mixin pageContent {
	margin-inline: auto;
	max-width: 100%;
	padding: 2rem;
	width: 1920px;

	@media (min-width: vars.$tablet) {
		padding-inline: 3rem;
	}

	@media (min-width: vars.$largeTablet) {
		padding-inline: 4rem;
	}

	@media (min-width: vars.$desktop) {
		padding-inline: 6rem;
	}

	@media (min-width: vars.$ultraWide) {
		padding-inline: 8rem;
	}
}

@mixin headingGeneral {
	color: var(--text-color);
	font-family: var(--heading-font);
	font-size: var(--font-size-xs);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-large);
	margin-bottom: 1rem;
}

@mixin formHeading {
	@include headingGeneral;
	& {
		display: inline-block;
		font-size: var(--font-size-xs);
		margin-bottom: 2rem;
		margin-inline: auto;
		position: relative;
		width: fit-content;
	}

	@media (min-width: vars.$smallTablet) {
		font-size: var(--font-size-sm);
	}

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-md);
	}

	@media (min-width: vars.$mediumTablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$mediumTablet) {
		font-size: var(--font-size-xl);
	}
}

@mixin cardTitleHeading {
	color: var(--text-color);
	font-size: var(--font-size-md);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-lg);
	margin-block: 1rem;

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-xl);
	}
}

@mixin cardTag {
	background: var(--accent-color);
	border-radius: var(--border-radius);
	color: var(--button-text-color);
	font-size: var(--font-size-sm);
	font-weight: 700;
	padding: var(--tag-padding);
	letter-spacing: var(--letter-spacing-xl);
	margin-top: auto;
	width: fit-content;

	@media (min-width: vars.$mediumTablet) {
		font-size: var(--font-size-md);
	}
}

@mixin cardTextBlurb {
	font-size: var(--font-size-md);
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-md);
	margin-bottom: 2rem;

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-xl);
	}
}

@mixin form {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	margin-inline: auto;
	max-width: vars.$largeTablet;
	min-height: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;

	@media (min-height: 600px) {
		overflow-y: hidden;
	}
}

@mixin formTall {
	@include form;

	@media (min-height: 750px) {
		overflow-y: hidden;
	}
}

@mixin wallpaperContainer {
	align-items: center;
	background: var(--neutral-bg-2);
	display: flex;
	flex-direction: column;
	max-width: 100%;
	min-height: calc(100vh - (vars.$navHeight));
	padding-bottom: 2rem;
	padding-top: calc(vars.$navHeight);
	position: relative;
	width: 100%;
}

@mixin formContent {
	box-shadow: var(--box-shadow);

	@media (min-width: vars.$desktop) {
		width: 100%;
	}
}

@mixin formFullWidth {
	align-items: center;
	background: var(--neutral-bg-1);
	// need form border var
	border: 1px solid #333;
	border-radius: var(--border-radius-form);
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-inline: auto;
	max-width: 50rem;
	min-height: 80vh;
	padding-inline: 2rem;
	position: relative;
	text-align: center;
	z-index: 0;
	// needs a card shadow
}

@mixin formFullWidthInner {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	padding-block: 3rem;
	min-height: 80vh;

	@media (min-width: vars.$smallTablet) {
		padding-inline: 2rem;
	}
}

@mixin formFullWidthInput {
	background: none;
	border: none;
	border: 1px solid var(--text-color);
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--font-size-xs);
	height: var(--inputHeight);
	line-height: var(--line-height-general);
	margin-bottom: 1.5rem;
	outline: none;
	padding-block: 0.75rem;
	padding-inline: 0.75rem;
	position: relative;
	resize: none;
	width: 100%;

	@media (min-width: vars.$smallTablet) {
		min-width: 20rem;
	}

	&::placeholder {
		color: var(--text-color);
		opacity: 0.5;
	}

	&:-webkit-autofill {
		background-color: none !important;
		box-shadow: none !important;
		color: inherit;
		transition: background-color 5000s ease-in-out 0s;
		-webkit-box-shadow: none !important;
	}

	&:-webkit-autofill::first-line {
		color: var(--text-color) !important;
	}

	&:active,
	&:focus {
		color: inherit;
	}

	&:focus {
		box-shadow: var(--input-box-shadow);
		outline: none;
	}
}

@mixin formErrorMessage {
	color: var(--error-color);
	margin-top: -1.25rem;
}

// buttons, links and interactions

// need general button mixin

@mixin adminButton {
	background: none;
	border-radius: var(--border-radius);
	color: var(--text-color);
	cursor: pointer;
	display: block;
	font-size: var(--font-size-xs);
	font-weight: 500;
	letter-spacing: 2px;
	margin-inline-start: 2rem;
	padding-block: 0.5rem;
	padding-inline: 1rem;

	&:hover,
	&:focus {
		@include hoverClickGrow;
		& {
			outline: none;
		}
	}

	&:active {
		@include hoverClickShrink;
	}

	&:disabled {
		opacity: var(--button-disabled-opacity);

		&:hover {
			cursor: default;
			transform: scale(1);
			user-select: none;
		}
	}
}

@mixin button {
	align-items: center;
	background: var(--accent-color);
	border: none;
	color: var(--button-text-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	font-family: var(--heading-font);
	font-size: var(--button-text-xs);
	font-weight: 700;
	letter-spacing: var(--letter-spacing-2xl);
	padding: var(--button-padding-base);
	text-align: center;
	transition: all 0.2s ease-in-out;
	z-index: 2;

	&.disabled {
		opacity: var(--button-disabled-opacity);
		pointer-events: none;
	}

	@media (min-width: vars.$smallPhone) {
		font-size: var(--button-text-sm);
	}

	@media (min-width: vars.$smallTablet) {
		font-size: var(--button-text-lg);
	}

	&:hover {
		@include hoverClickGrow;
	}

	&:active {
		scale: 0.95;
	}

	&:focus {
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}

	&:visited {
		color: var(--button-text-color);
		padding: var(--button-padding-sm);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--button-text-lg);
	}

	@media (min-width: vars.$ultraWide) {
		font-size: var(--button-text-xl);
		letter-spacing: var(--letter-spacing-xl);
		padding: var(--button-padding-xl);
	}
}

@mixin roundedButton {
	@include button;
	& {
		border-radius: 2rem;
	}
}

@mixin diabledButton {
	cursor: pointer;
	opacity: 0.5;
	pointer-events: none;
}

@mixin buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
// need button link

@mixin navLink {
	color: var(--nav-link-color);
	cursor: pointer;
	font-family: var(--heading-font);
	font-size: var(--font-size-md);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-nav-items);
	position: relative;
}

@mixin hoverClickGrow {
	transform: scale(1.025);
	transition: all 0.25s ease-in-out;
}

@mixin hoverClickGrowIcon {
	transform: scale(1.15);
	@include hoverClickGrow;
}

@mixin hoverClickShrink {
	transform: scale(0.99);
	transition: all 0.25s ease-in;
}

// accents and decorations
@mixin afterAccent {
	background: var(--accent-color);
	bottom: -0.35rem;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
}

@mixin accentBar {
	background: var(--accent-color);
	border-bottom-right-radius: var(--accent-bar-border-radius);
	border-top-right-radius: var(--accent-bar-border-radius);
	height: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(calc(-50% + calc(vars.$navHeight / 2)));
	width: 1rem;

	@media (min-width: vars.$smallTablet) {
		width: 1.125rem;
	}

	@media (min-width: vars.$tablet) {
		width: 1.5rem;
	}
}

@mixin accentBarDetail {
	display: none;

	@media (min-width: vars.$largeTablet) {
		@include accentBar;
		display: block;
		height: 80%;
		margin: 0;
		top: 10%;
		transform: translateY(0%);
	}
}

@mixin sectionHeading {
	// might want to use a custom heading color
	color: var(--text-color);
	font-family: var(--heading-font);
	font-size: var(--font-size-lg);
	font-weight: 600;
	letter-spacing: var(--letter-spacing-lg);
	margin-bottom: 1rem;
	margin-inline: auto;
	position: relative;
	text-align: center;
	white-space: nowrap;

	@media (min-width: vars.$tablet) {
		display: inline-block;
		font-size: var(--font-size-xl);
		margin-inline: auto;
	}

	@media (min-width: vars.$largeTablet) {
		display: inline-block;
		font-size: var(--font-size-2xl);
		margin-bottom: 2rem;
		margin-inline: auto;
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-3xl);
	}
}

@mixin sectionHeadingWithAccent {
	@include sectionHeading;
	&::after {
		@include afterAccent;
		width: 2rem;

		@media (min-width: vars.$tablet) {
			width: 3rem;
		}
	}
}

@mixin sectionLead {
	color: var(--text-color);
	font-size: var(--font-size-md);
	letter-spacing: var(--letter-spacing-lg);
	line-height: var(--line-height-md);
	margin-bottom: 1rem;

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-lg);
	}

	@media (min-width: vars.$desktop) {
		font-size: var(--font-size-xl);
	}
}

@mixin adminExplainer {
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--font-size-xs);
	letter-spacing: var(--letter-spacing-lg);
	line-height: var(--line-height-lg);

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-md);
	}
}

@mixin adminTextBox {
	border: 1px solid #333;
	border-radius: var(--border-radius);
	display: flex;
	flex: 1;
	flex-direction: column;
	font-size: var(--font-size-sm);
	height: 100%;
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-lg);
	max-height: 100%;
	min-height: 0;
	// padding-block: 0.5rem;
	text-align: start;
	-webkit-overflow-scrolling: touch;

	@media (min-width: vars.$tablet) {
		font-size: var(--font-size-md);
	}

	@media (min-width: vars.$largeTablet) {
		font-size: var(--font-size-lg);
	}
}

// ***
@mixin input {
	background: none;
	border: none;
	border: 1px solid #333;
	border-bottom: 1px solid #333;
	border-radius: var(--border-radius);
	color: var(--text-color);
	cursor: default;
	font-family: var(--body-font);
	font-size: var(--font-size-xs);
	height: var(--input-height);
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-base);
	outline: none;
	padding-block: 0.5rem;
	padding-inline: 0.5rem;
	position: relative;
	resize: none;
	width: 100%;

	&.invalid {
		// need invalid border/outline styling for invalid state: will remove yellow bg later
		// background: yellow;
		border: 1px solid var(--error-color);
		outline: 1px solid var(--error-color);
	}

	&::placeholder {
		color: var(--text-color);
		opacity: 0.5;
		font-size: var(--font-size-xs);
	}

	&:-webkit-autofill {
		-webkit-box-shadow: none !important;
		background-color: none !important;
		box-shadow: none !important;
		color: inherit;
		transition: background-color 5000s ease-in-out 0s;
	}

	&:-webkit-autofill::first-line {
		color: var(--text-color) !important;
	}

	&:active,
	&:focus {
		box-shadow: var(--input-box-shadow);
		color: inherit;
		outline: none;
	}
}

@mixin checkboxInput {
	@include input;

	& {
		border-radius: 4px;
		height: 1.125rem;
		margin-inline-end: 0.5rem;
		max-width: 1.125rem;
		padding: 0.5rem;
		position: relative;
		width: 1.125rem;

		&:checked::after {
			border-bottom: 2px solid #000;
			border-right: 2px solid #000;
			content: "";
			height: 0.65rem;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 0.33rem;
		}
	}
}

@mixin textLink {
	color: var(--accent-color) !important;
	cursor: pointer;
	text-decoration: underline;

	&.disabled {
		pointer-events: none;
		opacity: var(--button-disabled-opacity);
	}
}

// labels and accessibility
@mixin hiddenLabel {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

// visually hidden

// srOnlyFocusable

// basic UI elements
@mixin cardImg {
	aspect-ratio: 16/9;
	border-radius: var(--border-radius-card-image);
	max-width: 100%;
	object-fit: cover;
	object-position: center center;
	overflow: hidden;
	width: 100%;
}

@mixin cardBoxShadow {
	box-shadow:
		0 4px 12px rgba(0, 0, 0, 0.25),
		0 8px 24px rgba(0, 0, 0, 0.15);
}
