// heights
$navHeight: 4rem;
$footerHeight: 4rem;
$footerHeightMobile: 4rem;
$carouselGap: 3rem;

// custom variables for sizing
$smallPhone: 400px;
$smallTablet: 480px;
$tablet: 768px;
$mediumTablet: 900px;
$largeTablet: 1080px;
$desktop: 1280px;
$ultraWide: 1920px;
