// heights
$navHeight: 4rem;
$footerHeight: 4rem;
$footerHeightMobile: 5rem;

// custom variables for sizing
$smallTablet: 480px;
$tablet: 768px;
$largeTablet: 1080px;
$desktop: 1280px;
$ultraWide: 1920px;
