@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.carousel {
	& {
		// border: 2px dotted #333;
		max-width: vars.$ultraWide;
		margin-inline: auto;
	}

	&[data-animated="true"] {
		-webkit-mask: linear-gradient(
			90deg,
			transparent,
			white 20%,
			white 80%,
			transparent
		);
		overflow: hidden;

		mask: linear-gradient(
			90deg,
			transparent,
			white 10%,
			white 90%,
			transparent
		);
	}

	&[data-animated="true"] &__track {
		animation: scroll var(--_animation-duration, 40s)
			var(--_animation-direction, forwards) linear infinite;
		flex-wrap: nowrap;
		width: max-content;
	}

	&[data-direction="right"] {
		--_animation-direction: reverse;
	}

	&[data-direction="left"] {
		--_animation-direction: forwards;
	}

	&__track {
		display: flex;
		// gap tied to keyframes calc: 0.5rem is half this value: use custom property
		flex-wrap: nowrap;
		gap: 1rem;
		padding-block: 2rem;
		// will-change: transform; // possible fix to flicker on Safari (no change)
		// transform: translateZ(0); // possible fix to flicker on Safari (no change)

		&.reducedMotion {
			justify-content: center;
		}
	}

	&__item {
		background: yellow;
		border-radius: 0.5rem;
		box-shadow: 0 0.5rem 1rem -0.25rem #333;
		color: blue;
	}
}

@keyframes scroll {
	to {
		// 0.5rem represents half of gap for track: use custom property
		transform: translate(calc(-50% - 0.5rem));
	}
}
