@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.isLoading_5 {
	& {
		align-items: center;
		color: var(--fg);
		display: flex;
		height: 10rem;
		justify-content: center;
		left: 50%;
		margin-top: -0.75rem;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 10rem;
		z-index: 10;
	}
}

// *** flipping square starts: H
@mixin animation(
	$name,
	$duration: 1s,
	$timing-function: ease,
	$delay: 0s,
	$iteration-count: 1,
	$direction: normal,
	$fill-mode: forwards
) {
	animation: {
		name: $name;
		duration: $duration;
		timing-function: $timing-function;
		delay: $delay;
		iteration-count: $iteration-count;
		direction: $direction;
		fill-mode: $fill-mode;
	}
}

.spinner {
	background-color: #333;
	height: 50px;
	width: 50px;

	@include animation(
		$name: sk-rotateplane2,
		$duration: 1.25s,
		$iteration-count: infinite,
		$timing-function: ease-in-out
	);
}

@keyframes sk-rotateplane2 {
	0% {
		transform: perspective(120px) rotateX(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(0);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}
}
