@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.isLoading_2 {
	& {
		align-items: center;
		color: var(--fg);
		display: flex;
		height: 10rem;
		justify-content: center;
		left: 50%;
		margin-top: -0.75rem;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 10rem;
		z-index: 10;
	}
}

// *** three rotating squares
:root {
	--color-red: red;
	--color-orange: blue;
	--color-blue: green;
}

.container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.square {
	animation: rotate infinite 0.75s;
	height: 2.5rem;
	margin: 0.75em;
	width: 2.5rem;
}

.square1 {
	background: var(--color-red);
}

.square2 {
	background: var(--color-orange);
}

.square3 {
	background: var(--color-blue);
}

@keyframes rotate {
	from {
		transform: rotate(-45deg);
	}

	to {
		transform: rotate(45deg);
	}
}
