@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.moreInfo {
	& {
		color: #333;
	}

	&__inner {
		border: 2px dashed #333;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: vars.$tablet) {
			flex-direction: row;
			justify-content: flex-start;
		}
	}
}
