@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfo {
	& {
		color: var(--text-color);
		padding-top: vars.$navHeight;

		@media (min-width: vars.$mediumTablet) {
			// margin-bottom: 4rem;
		}
	}

	&__inner {
		@include mx.sectionLayout;
		& {
			padding-inline: 2rem;
		}

		@media (min-width: vars.$largeTablet) {
			flex-direction: row;
		}
	}
}
