@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfo {
	& {
		color: var(--text-color);
		padding-top: var(--section-top-padding);
	}

	&__inner {
		@include mx.sectionLayout;

		@media (min-width: vars.$largeTablet) {
			flex-direction: row;
		}
	}
}
