@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.moreInfoText {
	& {
		// border: 2px solid blue;
		min-height: 100vh;
		padding-block: 4rem;
		padding-inline: 2rem;
		width: 100%;
	}

	// &__inner {
	// 	border: 2px solid red;
	// }

	&__heading {
		// color: purple;
		font-family: var(--heading-font);
		font-size: var(--text-size-lg);
		letter-spacing: var(--letter-spacing-lg);
		position: relative;
		white-space: nowrap;

		&::after {
			width: 3rem;
			@include mx.afterAccent;
		}
	}

	&__subheading {
		// color: white;
		font-size: var(--text-size-md);
		letter-spacing: var(--letter-spacing-lg);
		line-height: var(--line-height-md);
		padding-block: 1rem;
	}

	&__solutions {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__solution {
		align-items: center;
		display: flex;
		font-size: var(--text-size-md);
		letter-spacing: var(--letter-spacing-md);
		line-height: var(--line-height-md);
		// border: 2px solid green;
	}

	&__solutionCheck {
		align-items: center;
		// border: 2px solid red;
		color: var(--accent-color);
		display: flex;
		font-size: 1.125rem;
		justify-content: center;
		padding-inline-end: 0.75rem;
	}

	&__solutionSpan {
		display: block;
		font-weight: bold;
		white-space: nowrap;
	}
}
