@use "./partials/_mixins.scss" as mx;
@use "./partials/_variables.scss" as vars;

// need loading spinner or animation for .loading div

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px; /* Ensures consistent base font size */
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%; /* Prevents automatic text resizing */
}

body {
	& {
		background: var(--neutralBG);
		color: var(--text-color);
		font-family: var(--body-font);
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		overflow-x: hidden;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

ul,
ol {
	list-style-type: none;
}

li {
	list-style: none;
}

input,
button,
textarea,
select {
	appearance: none;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	&:hover {
		cursor: pointer; // for buttons and clickable inputs
	}

	&:focus {
		// outline: 2px solid var(--accent-color, #007acc);
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}
}

// Chrome autofill override
input:-webkit-autofill {
	background-color: none !important;
	box-shadow: none !important;
	caret-color: var(--text-color);
	transition: background-color 5000s ease-in-out 0s;
	-webkit-box-shadow: none !important;
}

:focus:not(:focus-visible) {
	outline: none;
}

img {
	display: block;
}

.app {
	& {
		@include mx.appLayout;
	}

	&__nav-container {
		align-items: center;
		display: flex;
		height: vars.$navHeight;
		position: fixed;
		top: 0;
		transition: all 500ms ease-in-out;
		width: 100%;
		z-index: 1;

		&.hide {
			margin-top: -5rem;
		}
	}

	&__nav-background {
		background: var(--navFooter-bg);
		box-shadow: var(--navBoxShadow);
		height: 100%;
		inset: 0;
		position: absolute;
		width: 100%;
		z-index: 3;
	}

	&__inner {
		@include mx.appInner;
	}

	&__logout {
		&--nav {
			display: none;

			@media (min-width: vars.$largeTablet) {
				display: block;
				margin-inline-start: 2rem;
			}
		}
	}

	&__dropdown-nav {
		&--socials {
			display: flex;
			justify-content: center;
			margin-inline: auto;
		}
	}
}
