@use "../../partials/_variables" as vars;
@use "../../partials/_mixins" as mx;

.isLoading_12 {
	align-items: center;
	color: var(--fg);
	display: flex;
	height: 12.5rem; /* 10rem * 1.25 */
	justify-content: center;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 12.5rem; /* 10rem * 1.25 */
	z-index: 10;
}

/* *** four balls spinning and merging */
.loader-ball {
	animation: loader-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	height: 80px; /* 64 * 1.25 */
	width: 80px; /* 64 * 1.25 */
}

@keyframes loader-1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader-ball::before {
	animation: loader-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	background: #fff;
	border-radius: 50%;
	content: "";
	height: 20px; /* 16 * 1.25 */
	width: 20px;
	inset: 0 auto 0 0;
	margin: auto;
	position: absolute;
}

@keyframes loader-2 {
	0% {
		transform: translate3d(0, 0, 0) scale(1);
	}
	50% {
		transform: translate3d(60px, 0, 0) scale(0.5); /* 48 * 1.25 */
	}
	100% {
		transform: translate3d(0, 0, 0) scale(1);
	}
}

.loader-ball::after {
	animation: loader-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	background: #fff;
	border-radius: 50%;
	content: "";
	height: 20px;
	width: 20px;
	inset: 0 0 0 auto;
	margin: auto;
	position: absolute;
}

@keyframes loader-3 {
	0% {
		transform: translate3d(0, 0, 0) scale(1);
	}
	50% {
		transform: translate3d(-60px, 0, 0) scale(0.5);
	}
	100% {
		transform: translate3d(0, 0, 0) scale(1);
	}
}

.loader-ball span {
	position: absolute;
	inset: 0;
	margin: auto;
	height: 80px;
	width: 80px;
}

.loader-ball span::before {
	animation: loader-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	background: #fff;
	border-radius: 50%;
	content: "";
	height: 20px;
	width: 20px;
	inset: 0 0 auto 0;
	margin: auto;
	position: absolute;
}

@keyframes loader-4 {
	0% {
		transform: translate3d(0, 0, 0) scale(1);
	}
	50% {
		transform: translate3d(0, 60px, 0) scale(0.5);
	}
	100% {
		transform: translate3d(0, 0, 0) scale(1);
	}
}

.loader-ball span::after {
	animation: loader-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	background: #fff;
	border-radius: 50%;
	content: "";
	height: 20px;
	width: 20px;
	inset: auto 0 0 0;
	margin: auto;
	position: absolute;
}

@keyframes loader-5 {
	0% {
		transform: translate3d(0, 0, 0) scale(1);
	}
	50% {
		transform: translate3d(0, -60px, 0) scale(0.5);
	}
	100% {
		transform: translate3d(0, 0, 0) scale(1);
	}
}
