@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.nav {
	align-items: center;
	// background: var(--background-nav-footer);
	// box-shadow: var(--navFooter-box-shadow);
	display: flex;
	height: vars.$navHeight;
	position: fixed;
	transition: all 500ms ease-in-out;
	top: 0;
	width: 100%;
	z-index: 3;
	border: 2px solid blue;
	background: pink;

	&.hide {
		margin-top: -5rem;
	}

	&__content {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 100%;
		max-width: vars.$ultraWide;
		padding-inline: 2rem;
		width: 100%;
		max-width: vars.$ultraWide;
		margin-inline: auto;
		border: 2px dotted #333;
	}

	&__logo-box {
		align-items: center;
		display: flex;
		justify-content: center;
		height: vars.$navHeight;
		width: 4rem;
	}

	// &__logo {
	// 	fill: var(--text-color-bright);
	// 	height: 1rem;
	// 	margin-top: 4px;
	// }

	&__links {
		display: none;

		@media (min-width: vars.$tablet) {
			align-items: center;
			display: flex;
			gap: 2rem;
			height: 100%;
			margin-inline-start: auto;
		}
	}

	&__link {
		color: var(--text-color-bright);
		@include mx.navLink;

		&:hover {
			&::after {
				@include mx.afterAccent;
				background: red;
			}
		}
		color: green;
	}

	&__link.active {
		position: relative;

		&::after {
			@include mx.afterAccent;
			// not being applied on Home or /
			background: red;
		}
	}

	&__colorModeToggle {
		display: none;

		@media (min-width: vars.$tablet) {
			display: block;
			margin-inline-start: 1rem;
		}
	}

	&__logout {
		display: none;

		@media (min-width: vars.$tablet) {
			display: block;
		}
	}

	&__toggle-button {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		gap: 0.45rem;
		height: 2.5rem;
		justify-content: center;
		position: absolute;
		right: 2rem;
		top: 0.9rem;
		width: 2rem;

		@media (min-width: vars.$tablet) {
			display: none;
		}
	}

	&__toggle-icon {
		// border: 1.45px solid var(--text-color-bright);
		border: 1.45px solid blue;
		border-radius: 2px;
		min-width: 100%;
		width: 2rem;
	}
}
