@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mx;

.notFound {
	& {
		background: yellow;
		@include mx.page;
	}

	&__inner {
		align-items: center;
		justify-content: center;
		@include mx.inner;
	}

	// &__text {
	// 	display: flex;
	// 	flex-direction: column;
	// 	// font-size: var(--heading-small);
	// 	gap: 2rem;
	// 	justify-content: center;
	// 	text-align: center;
	// }

	// &__sub-heading {
	// 	font-size: var(--font-size-small);
	// }
}
